<!-- Thx Rettson! https://youtu.be/I10tFtoGjmo -->
<!doctype html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <!-- Page CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-register.css') }}">
</head>


<body class="bg-dark-subtle">

    <div class="container">

        <div class="row vh-100 align-items-center justify-content-center">

            <div class="col-sm-8 col-md-6 col-lg-4 bg-white rounded p-4 shadow">

                <div class="row justify-content-center mb-4">
                    <img class="w-25" src="{{ url_for('static', filename='img/logo-green.png') }}">
                </div>

                {% with messages = get_flashed_messages(category_filter=['error']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger rounded-pill text-center mb-4" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="POST" action="{{ url_for('create_account') }}">
                    {{ form.csrf_token() }}

                    <div class="form-floating mb-4">
                        {{ form.username(class="form-control") }}
                        {{ form.username.label(class="input-label") }}
                        <div class="form-text">· Tamanho entre 4 e 12 caracteres;</div>
                        <div class="form-text">· Utilize apenas letras.</div>
                    </div>

                    <div class="form-floating mb-4">
                        {{ form.password(class="form-control") }}
                        {{ form.password.label(class="input-label") }}
                        <div class="form-text">· Utilize apenas letras e números.</div>
                    </div>

                    <div class="form-floating mb-4">
                        {{ form.password_confirm(class="form-control") }}
                        {{ form.password_confirm.label(class="input-label") }}
                        <div class="form-text">· Ambas as senhas devem ser iguais.</div>
                    </div>

                    {{ form.submit(class="btn btn-success w-100") }}
                </form>

                <p class="mb-0 pt-4 text-center">Já possui uma conta? <a href="{{ url_for('login') }}" class="text-decoration-none text-success">Entrar</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>

</html>